<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SODA_Chatting</title>
<link rel='stylesheet' type='text/css' href='./css/chatt.css'>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
	<div id='chatt'>
		<div id="chattDiv" th:if="${#lists.size(inviteMembers) == 1}">
			<span th:each="inviteMembers : ${inviteMembers}">
    			<h3 id="roomName" th:text="${inviteMembers.name}"></h3>
    		</span>
		</div>
		<div id="chattDiv" th:if="${#lists.size(inviteMembers) > 1}">
		    <span th:each="inviteMember, iterStatus : ${inviteMembers}">
		        <h3 id="roomName" th:text="${inviteMember.name + (iterStatus.last ? '' : ',&nbsp;')}"></h3>
		    </span>
		</div>
		<input type='text' id='mid' placeholder="이름 입력">
		<input type='button' value='로그인' id='btnLogin'>
		<br/>
		<div id='talk'></div>
		<div id='sendZone'>
			<textarea id='msg' value='hi...' ></textarea>
			<input type='button' value='전송' id='btnSend'>
		</div>
	</div>
	
	<script src='./js/chatt.js'></script>
	<script src='./js/SODA_DASHBOARD.js'></script>
</body>
</html>