<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" th:href="@{/css/soda.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/SODA_DASHBOARD_STYLE.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Searchbar_Related.css}">
	<title>SODA</title>
</head>

<body>
	<div th:replace="~{Searchbar :: navbarFragment}"></div>
	<!-- 네비게이션바 -->
	<div th:replace="~{leftsidebar :: leftsidebarFragment}"></div>
	<!-- 기본 템플릿 안에 삽입될 내용 Start -->
	<th:block layout:fragment="content"></th:block>
	<!-- 기본 템플릿 안에 삽입될 내용 End -->

	<!-- Bootstrap JS -->

	<!-- 자바스크립트 Start -->
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script th:src="@{js/test.js}"></script>
	<script th:src="@{/js/SODA_DASHBOARD.js}"></script>
	<script th:src="@{/js/FeedAjax.js}"></script>
	<th:block layout:fragment="script"></th:block>
	<!-- 자바스크립트 End -->
</body>
</html>