<!DOCTYPE html>
<html>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<head>
<meta charset="UTF-8">
<title>소다(SODA)-비밀번호 변경</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/HomeNav.css}">
<link rel="stylesheet" th:href="@{/css/Login.css}">
</head>
<header id="HeaderNav">
		<div id="MainNav">
			<a class="logo" href="/SODA/Home"><img th:src="@{/images/소다로고_배경O.png}" alt="logo"></a>
			<nav class="navBar">
				<ul class="barItems">
					<li><a href = "/SODA/Func" class="bars">기능</a></li>	
					<li><a href = "/SODA/Price" class="bars">요금제</a></li>
					<li><a href = "/SODA/TeamCorpo" class="bars">팀 협업</a></li>
				</ul>
				<div class="userBtnWrap">
					<a href = "/SODA/loginPage" id="btnLogin">로그인</a>
					<a href = "/SODA/JoinSelect" id="btnJoin">회원가입</a>
				</div>
			</nav>
		</div>		
</header>
<body>
	<div class="loginHome">
		<div class="findPwPageSub" style="display: block;">
		<div class="findPwTitle">비밀번호 변경</div>
		<div class="findPwIntro">사용하실 비밀번호를 입력해주세요.</div>
		<form class="findPwWrap" id="changePwWrap" method="post" action="ChangePw">
			<label class="inPwWrap">
				<input type="hidden" name="userEmail" th:value="${session.findEmail}">
				<input type="password" id="inputChangePw" name="inputChangePw" placeholder="비밀번호">
				<input type="password" id="inputChangeRePw" name="inputChangeRePw" placeholder="비밀번호 재입력">
				<p class="errorText">변경하실 비밀번호를 입력해주세요.</p>
				<button id="changePw" type="submit">비밀번호 변경</button>
			</label>
		</form>
	</div>
	</div>
</body>
<script th:src="@{/js/Login.js}"></script>
</html>