<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>소다(SODA)-기능</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/HomeNav.css}">
<link rel="stylesheet" th:href="@{/css/Function.css}">
<style>

</style>
</head>
<header id="HeaderNav" style="top: 0;">
		<div id="MainNav">
			<a class="logo" href="/SODA/Home"><img th:src="@{/images/소다로고_배경O.png}" alt="logo"></a>
			<nav class="navBar">
				<ul class="barItems">
					<li><a href = "/SODA/Func" class="bars">기능</a></li>	
					<li><a href = "/SODA/Price" class="bars">요금제</a></li>
					<li><a href = "/SODA/TeamCorpo" class="bars">팀 협업</a></li>
				</ul>
				<div class="userBtnWrap">
					<a href = "/SODA/loginPage" id="btnLogin">로그인</a>
					<a href = "/SODA/JoinSelect" id="btnJoin">회원가입</a>
				</div>
			</nav>
		</div>		
</header>
<body>
		<div class="subpage project">
			<section class="subpage-main bg-typeA">
				<div class="txt-wrap">
					<p class="main-tit-pp">SODA 기능</p>
					<h2 class="main-tit">
						최신 기능으로<br> 업무 관리를 한번에
					</h2>
				</div>
			</section>
			<button  class="btn-flow-light" onclick="location.href='/SODA/loginPage'">지금 바로 시작</button>
			<section class="subpage-cont">
				<div class="bg-wrap 01">
					<div class="txt-wrap">
						<p class="sub-tit-pp">프로젝트 관리</p>
						<h3 class="sub-tit">
							프로젝트로 모여<br> 최상의 결과를
						</h3>
						<p class="body-txt">이메일, 메신저, 전화 등 파편화된 소통 한계를 넘어 완벽한 프로젝트를
							성공을 이끌 수 있어요.</p>
					</div>
					<div class="video-wrap">
						<video loop autoplay muted playsinline
							src="https://flow.team/flow-renewal/homepage/flow/common/assets/video/project-01.mp4"
							poster="/">
							<source
								src="https://flow.team/flow-renewal/homepage/flow/common/assets/video/project-01.mp4"
								type="video/ogg">

						</video>
					</div>
				</div>
				<div class="bg-wrap 02">
					<div class="txt-wrap">
						<p class="sub-tit-pp">워크플로우</p>
						<h3 class="sub-tit">
							담당자 별 마감일<br> 진행 상황을 한 눈에
						</h3>
						<p class="body-txt">
							모든 작업의 흐름 (담당자, 마감일, 진행상황)을 <br class="only-pc"> 한 눈에 볼 수 있고
							지연되는 업무도 즉시 알 수 있어요.
						</p>
					</div>
					<div class="video-wrap">
						<video loop autoplay muted playsinline
							src="https://flow.team/flow-renewal/homepage/flow/common/assets/video/project-02.mp4"
							poster="/">
							<source
								src="https://flow.team/flow-renewal/homepage/flow/common/assets/video/project-02.mp4"
								type="video/ogg">
						</video>
					</div>
				</div>
				<div class="bg-wrap 03">
					<div class="txt-wrap">
						<p class="sub-tit-pp">간트차트</p>
						<h3 class="sub-tit">
							간트차트로<br> 완벽한 일정 관리
						</h3>
						<p class="body-txt">
							프로젝트 시작 ~ 종료까지 계획된 일정에 맞춰 <br class="only-pc"> 업무 누락없는 완벽한
							프로젝트 관리가 가능해요.
						</p>
					</div>
					<div class="video-wrap">
						<video loop autoplay muted playsinline
							src="https://flow.team/flow-renewal/homepage/flow/common/assets/video/project-03.mp4"
							poster="/">
							<source
								src="https://flow.team/flow-renewal/homepage/flow/common/assets/video/project-03.mp4"
								type="video/ogg">
						</video>
					</div>
				</div>
				<div class="bg-wrap 04">
					<div class="txt-wrap">
						<p class="sub-tit-pp">업무 필터링</p>
						<h3 class="sub-tit">
							업무 필터링으로<br> 하나도 놓치지 않게
						</h3>
						<p class="body-txt">
							업무상태, 우선순위, 시작일, 마감일에 따라 <br class="only-pc"> 단 하나의 업무도 놓치지
							마세요.
						</p>
					</div>
					<div class="video-wrap">
						<video loop autoplay muted playsinline
							src="https://flow.team/flow-renewal/homepage/flow/common/assets/video/project-04.mp4"
							poster="/">
							<source
								src="https://flow.team/flow-renewal/homepage/flow/common/assets/video/project-04.mp4"
								type="video/ogg">
						</video>
					</div>
				</div>
				<div class="bg-wrap 05">
					<div class="txt-wrap">
						<p class="sub-tit-pp">대시보드</p>
						<h3 class="sub-tit">
							나만의 대시보드<br> 핵심 현황을 한눈에
						</h3>
						<p class="body-txt">
							이메일, 메신저, 전화 등 파편화된 소통 한계를 넘어 <br class="only-pc"> 완벽한 프로젝트를
							성공을 이끌 수 있어요.
						</p>
					</div>
					<div class="video-wrap">
						<video loop autoplay muted playsinline
							src="https://flow.team/flow-renewal/homepage/flow/common/assets/video/project-05.mp4"
							poster="/">
							<source
								src="https://flow.team/flow-renewal/homepage/flow/common/assets/video/project-05.mp4"
								type="video/ogg">
						</video>
					</div>
				</div>
				<div class="bg-wrap 06">
					<div class="txt-wrap">
						<p class="sub-tit-pp">리포트 메일</p>
						<h3 class="sub-tit">
							주간 리포트<br> 이번 주 업무 일정 도착
						</h3>
						<p class="body-txt">
							월요일 아침, 이번주 업무 일정을 <br class="only-pc"> 리포트로 정리해서 메일로 알려드려요.
						</p>
					</div>
					<div class="video-wrap">
						<video loop autoplay muted playsinline
							src="https://flow.team/flow-renewal/homepage/flow/common/assets/video/project-06.mp4"
							poster="/">
							<source
								src="https://flow.team/flow-renewal/homepage/flow/common/assets/video/project-06.mp4"
								type="video/ogg">
						</video>
					</div>
				</div>
			</section>
		</div>
</body>
</html>