<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>소다(SODA)-회원가입</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/HomeNav.css}">
<link rel="stylesheet" th:href="@{/css/Join.css}">
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<header id="HeaderNav">
		<div id="MainNav">
			<a class="logo" href="/SODA/Home"><img th:src="@{/images/소다로고_배경O.png}" alt="logo"></a>
			<nav class="navBar">
				<ul class="barItems">
					<li><a href = "/SODA/Func" class="bars">기능</a></li>	
					<li><a href = "/SODA/Price" class="bars">요금제</a></li>
					<li><a href = "/SODA/TeamCorpo" class="bars">팀 협업</a></li>
				</ul>
				<div class="userBtnWrap">
					<a href = "/SODA/loginPage" id="btnLogin">로그인</a>
					<a href = "/SODA/JoinSelect" id="btnJoin">회원가입</a>
				</div>
			</nav>
		</div>		
</header>
<body>
	<div class="joinHome">
		<div class="newSignUp">
			<div class="newSignUpTitle">새로운 계정으로 시작하기 🐱‍🏍</div>
			<div class="newSignUpIntro">소다에 가입하여 업무능률을 올려봐요</div>
			<div class="newSignUpWrap">
				<form method="post" action="/SODA/Join" id="newSignUpForm">
						<label>
							<span class="newWrapTitle">이메일</span>
							<th:block th:if="${session.email == null}">
								<div class="signUpEmailCheck">
									<input type="text" id="newSignUpEmail" name="newSignUpEmail" placeholder="example@gmail.com">
									<button id="emailCheck" type="button">중복 확인</button>
								</div>
							</th:block>
							<th:block th:if="${session.email != null}">
								<div class="signUpEmailCheck">
									<input type="text" id="newSignUpEmail" name="newSignUpEmail" placeholder="example@gmail.com"
									th:value="${session.email}">
									<button id="emailCheck" type="button">중복 확인</button>
								</div>
							</th:block>
							<p class="errorText" id="errorEmail">이메일을 입력해주세요.</p>
						</label>
					<label>
						<span class="newWrapTitle">이름</span>
						<input type="text" id="newSignUpName" name="newSignUpName" placeholder="이름">
						<p class="errorText" id="errorName">이름을 입력해주세요.</p>
					</label>
					<label>
						<span class="newWrapTitle">비밀번호</span>
						<input type="password" id="newSignUpPw" name="newSignUpPw" placeholder="비밀번호">
						<p class="errorText" id="errorPw">비밀번호를 입력해주세요.</p>
					</label>
					<label>
						<span class="newWrapTitle">비밀번호 확인</span>
						<input type="password" id="newSignUpRePw" placeholder="비밀번호 재입력">
						<p class="errorText" id="errorRePw"></p>
					</label>
					<label>
						<span class="newWrapTitle">직무</span>
						<div class="newSignUpSelect">
							<select>
								<option>직무를 선택해주세요.</option>
								<option>마케팅</option>
								<option>IT 운영</option>
								<option>제품관리</option>
								<option>HR</option>
								<option>영업</option>
								<option>고객지원</option>
								<option>CEO</option>
								<option>엔지니어</option>
								<option>디자이너</option>
								<option>회계/법률</option>
								<option>재무</option>
								<option>기타</option>
							</select>
						</div>
					</label>
					<div class="newSignUpCheck">
						<div class="newCheckWrap">
							<input type="checkbox" id="checkEssential" name="checkEssential">
							<span class="checkEsRequire">(필수) &nbsp;</span>
							<span>서비스 이용약관, 개인정보처리방침을 확인하였고, 이에 동의합니다</span>
							<p class="errorText" id="checkError">서비스 이용약관, 개인정보취금방침 확인 및 동의 부탁드립니다.</p>
						</div>
						<div class="newCheckWrap">
							<input type="checkbox" id="checkOptional" name="checkOptional">
							<span class="checkOpRequire">(선택) &nbsp;</span>
							<span>혜택 알림 수신에 동의합니다.</span>
						</div>
					</div>
					<button type="submit" id="newSignUpNext">다음</button>
				</form>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/js/CreateMember.js}"></script>
<script th:inline="javascript">
		function searchEmail(e){
			e.preventDefault();
			var signUpEmail = document.getElementById("newSignUpEmail").value;
			$.ajax({
				url: '/SODA/SearchEmail',
				method: 'POST',
				data: {signUpEmail: signUpEmail},
				success: function (response) {
					if (response == signUpEmail) {
						console.log(response);
						$('#errorEmail').css('display', 'block');
						$('#errorEmail').text('이미 존재하는 이메일입니다.');
						$('#errorEmail').css('color', '#ff6b6b');
						$('#newSignUpEmail').css('border-color', '#ff6b6b');
					} else {
						console.log(signUpEmail);
						console.log(response);
						$('#errorEmail').css('display', 'block');
						$('#errorEmail').css('color', '#50b5bf');
						$('#errorEmail').text('회원가입 가능한 이메일입니다.');
					} 
				},
				error: function (xhr, status, error) {
					console.log(status + ": " + status)
				}
			});
		}
		$('#emailCheck').on('click', searchEmail);
</script>
</html>