@charset "UTF-8";
*{margin: 0; padding: 0;}

a{text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
}

article{display: block;}

ul,li{list-style: none;}

table{border-collapse: collapse;}

article{display: block;}

